/*! Place your custom styles here */

.btn.type--uppercase .btn__text {
  margin-right: 0px !important;
}

.testimoni-box {
  background: rgba(34,34,34,0.4);
  padding: 30px 0;
}

.testimonial {
  padding: 0 50px;
}

.flickity-prev-next-button {
  background: transparent !important;
}

.flickity-prev-next-button:hover {
  background: rgba(34,34,34,0.4) !important;
}

.btn--excide,
.btn--excide:visited {
  background: #c3502e;
  border-color: #c3502e;
  color: #fff;
  height: 3.8em;
}
.btn--excide .btn__text,
.btn--excide:visited .btn__text {
  color: #fff;
}
.btn--excide .btn__text i,
.btn--excide:visited .btn__text i {
  color: #fff;
}
.btn--excide:hover {
  background: #d45b37;
  color: #fff;
}
.btn--excide:active {
  background: #c3502e;
  color: #fff;
}