/*! Place your custom styles here */

.btn.type--uppercase .btn__text {
  margin-right: 0px !important;
}

.testimoni-box {
  background: rgba(34,34,34,0.4);
  padding: 30px 0;
}

.testimonial {
  padding: 0 50px;
}

.flickity-prev-next-button {
  background: transparent !important;
}

.flickity-prev-next-button:hover {
  background: rgba(34,34,34,0.4) !important;
}