// For QnA badges
.badge-need-answer {
  background: #eb7c7c;
  padding: 0.6rem 0.75rem !important;
}

.badge-need-approval {
  background: #DCCD1E;
  padding: 0.6rem 0.75rem !important;
}

.badge-answered {
  background: #B8CD59;
  padding: 0.6rem 0.75rem !important;
}

.badge-closed {
  background: #CECECE;
  padding: 0.6rem 0.75rem !important;
}
