.home-banner {
  background: linear-gradient(to right, white, rgb(255, 239, 245));
  background-attachment: fixed;
  height: 206px;
}

.image-container {
  // position: relative;
  // width: 100%;
  // left: 813px;
  // bottom: 183px;
}
