.home-banner {
  background: linear-gradient(to right, white, rgb(255, 239, 245));
  background-attachment: fixed;
  height: 250px;
}

.qna-banner {
  background: linear-gradient(to right, white, rgb(232, 244, 249));
  background-attachment: fixed;
  height: 250px;
}

.resource-portal-banner {
  background: linear-gradient(to right, white, rgb(255, 255, 230));
  background-attachment: fixed;
  height: 180px;
}

.search-investors-banner {
  background: linear-gradient(to right, white, rgb(240, 245, 255));
  background-attachment: fixed;
  height: 250px;
}

.fundraising-banner {
  background: linear-gradient(to right, white, rgb(237, 255, 241));
  background-attachment: fixed;
  height: 250px;
}

.dataroom-banner {
  background: linear-gradient(to right, white, rgb(252, 250, 232));
  background-attachment: fixed;
  height: 250px;
}

.our-investors-banner {
  background: linear-gradient(to right, white, rgb(244, 255, 237));
  background-attachment: fixed;
  height: 180px;
}

.button-top-right{
  top: 10px;
  right: 20px;
  position: absolute;
}

.image-height {
  height: 250px !important;
}

.smaller-image-height {
  height: 180px !important;
}
