.home-banner {
  background: linear-gradient(to right, white, rgb(255, 239, 245));
  background-attachment: fixed;
  height: 206px;
}

.button-top-right{
  top: 10px;
  right: 20px;
  position: absolute;
}
