.table-padding>tbody>tr>td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.description-col-font {
  color: #454557;
  font-size: 14px;
  font-weight: 600;
}

.tick:after {
  content: "\2713";
  font-size: 14px;
}

.cross:after {
  content: "x";
  font-size: 14px;
}

.background-gradient {
  background: linear-gradient(to right, white, rgba(245, 249, 255, 0.7), white);
  background-attachment: fixed;
}

.strike-price{
  text-decoration: none;
  position: relative;
  &:before {
    content: " ";
    display: block;
    width: 30%;
    border-top: 2px solid rgba(black, 0.8);
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-15deg);
  }
  }
