.table-padding>tbody>tr>td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.description-col-font {
  color: #454557;
  font-size: 14px;
  font-weight: 600;
}

.tick:after {
  content: "\2713";
  font-size: 14px;
}
