.add-investor-button {
  font-size: 17px;
}

.contact-card-shawdow {
  border-radius: 8px;
  box-shadow: 0 0 2px grey;
  cursor: all-scroll;
}

.investor-profile-pic {
  box-shadow: 0 1px 3px grey;
}
