.add-investor-button {
  font-size: 17px;
}

.contact-card-shawdow {
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(23, 23, 46, 0.2);
  cursor: all-scroll;
}

.investor-profile-pic {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}

.kanban-height {
  height: 500px;
}

.contact-status-container {
  width: 191px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(23, 23, 46, 0.2);
}
