.icon-hover:hover {
  color: #8B8B97;
}

// Size of the checkbox in dataroom
.checkboxSize {
  width: 18px;
  height: 18px;
}

.btn-pink-gradient {
  background-image: linear-gradient(to right, #F586BD, #EB6464);
  color: white !important;
}

.font-size-md { 
  font-size: 13px !important
}