.note-wrapper-investor {
  background-color: #EEF1FF;
  border-radius: 20px;
}

.note-wrapper-startup {
  background-color: #F5F6F9;
  border-radius: 20px;
}

// Badge for investor's QnA
.investor-ongoing-question {
  background-color: #EEF1FF;
}

.investor-closed-question {
  background-color: #F5F6F9;
}
// For referencing dataroom in Q&A
.dataroom-reference-container {
  background-color: white;
  border-radius: 8px;
}
