#truncate-company-information {
  overflow:hidden;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.profile-image-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
}

.profile-index-image-wrapper {
  width: 120px;
  height: 120px;
  display: flex;
  // Mobile margin
  margin-left: 10px;
  margin-right: auto;
  margin-top: 75px;
}

// Non-mobile screen
@media screen and (min-width: 600px)  {
  .profile-index-image-wrapper {
    margin-top: 20%;
    margin-left: auto;
  }
}
