input.enlarged-checkbox{
  width: 15px;
  height: 15px;
  margin-top: 5%;
  margin-left: 45%;
}

.fixed-column{
  position: absolute;
  width: 100%;
  // margin-left: -5em;
}

.grid-bottom{
  border-bottom: 1px solid grey;
  padding: 10px;
}

.card.scrollbar > .card-body{
  overflow-x: auto;
}

.header-properties{
  color: #dd715e;
  text-align: center;
}

.header-info{
  color: #757575;
  text-align: center;
}

.completed-task{
  font-size: 25px;
}

.table thead th {
  vertical-align: middle;
}

.large-icon {
  font-size: 50px;
}

.medium-icon {
  font-size: 30px;
}

.gray-icon {
  color: gray;
}

.rejected-invoice-circle {
  position: relative;
  left: 35px;
  bottom: 30px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background: red;
}