@font-face {
  font-family: "NunitoSans";
  src: url("../src/fonts/metronic/nunito-sans/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans-bold";
  src: url("../src/fonts/metronic/nunito-sans/NunitoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


