@font-face {
  font-family: "Futura";
  src: url("../src/fonts/metronic/futura/futur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../src/fonts/metronic/nunito-sans/NunitoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

