.dropdown-pointer {
  cursor: pointer;
}

// Login page
h1.header-bold {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 30px;
  color: #17172e;
}

// Header
.change-company-dropdown {
  width: 300px;
  font-size: 15px !important;
  border-radius: 4px;
  border: solid 0.5px grey;
}

.col2 {
  column-count: 2;
}

.col3 {
  column-count: 3;
}

.break-inside-avoid {
  break-inside: avoid;
}

#company-dropdown {
  min-width: 300px;
}

// Footer
.footer-size {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: black;
}

// Logo size in header
.inv-logo-size {
  width: 10%;
}
.logo-size {
  width: 70%;
}

.small-font {
  font-size: 2rem;
}

// Sidebar
.sidebar-sticky {
  padding-top: 0.5rem;
  position: sticky;
  overflow-y: auto;
  overflow-x: hidden;
  top: 60px;
  bottom: 0;
  height: calc(100vh - 60px);
}

.sidebar-sticky-settings {
  top: 0;
}
// Sidebar-items hover effect
.hover-blue:hover {
  background-color: #eef1ff;
  border-radius: 10px;
}

// User icon on navbar
.icon-size {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.navbar-icon {
  width: 30px;
  height: 30px;
}

.sidebar-font {
  font-size: 15px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: black;
  font-family: "NunitoSans-bold" !important;
}

.sidebar-subheader-font {
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #999999;
}

// Card in dashboard page
.card-header-height {
  height: 40%;
  background-color: #eef1ff !important;
}

// Make the entire card a hyperlink and inherit color style
a.custom-card,
a.custom-card:hover {
  color: inherit;
}

// Image size
.img-icon-size {
  width: 10%;
  height: 10%;
}

// dropdown
.dropdown-menu-right {
  left: auto !important;
}

// background design for new tab windows
.new-tab-wrapper {
  background-color: #F5F6F9;
  margin: 0;
  padding: 4% 10%;
  height: 100%
}

.new-tab-contents {
  height: 100%
}

.label-bold {
  font-weight: 700 !important;
}
