.form-group.mt-5
  = f.label :description, "Note information", class: "label-bold"
  = f.rich_text_area :description, {class: "form-control col-sm-12", required: true, placeholder: "Instructions for users..."}
