label {
  color: white;
}

.stripe-elements {
  background-color: white;
  height: 50px;
  padding: 15px;
}

.stripe-alert-error {
  padding: 10px;
  border: 1px solid #c64444;
  color: #fff;
  background-color: #c64444;
  text-align: center;
}