.alert {
  position: absolute;
  top: 80px;
  left: 400px;
  width: 500px;
  z-index: 5000;
}

button.close {
  margin-bottom: 0;
}

.large-header, .small-header {
  font-weight: 600;
}

.small-header {
  display: none;
}

@media all and (max-width: 1200px) {
  .large-header {
    display: none;
  }
  .small-header {
    display: inline;
  }
}