#symphony:hover {
  background: #fff;
  color: #c3502e;
}
.bg-light
  #symphony {
    border-color: #c3502e;
    color: #f8f9fa;
  }
.bg-light
  #symphony:hover {
    background: #f8f9fa;
    color: #c3502e;
  }
#xero {
  background: #13b6ea;
  border: 2px solid #13b6ea;
}
#xero:hover {
  background: #fff;
  color: #13b6ea;
}
.bg-light
  #xero {
    border-color: #13b6ea;
    color: #f8f9fa;
  }
.bg-light
  #xero:hover {
    background: #f8f9fa;
    color: #13b6ea;
  }
