- if action.completed
  = render "symphony/batches/tasks/completed"
- else
  = link_to 'Start', action.task.document_template.file_url, role: 'button', target: "_blank", class: 'btn btn-primary btn-sm' if action.task.document_template.present?