/ = render "symphony/batches/tasks/workflow_type_conditions", action: action, task: action.task, workflow: workflow
/ br
/ = link_to "Enter Data", data_entry_symphony_workflow_path(workflow_name: workflow.template.slug, workflow_id: workflow.id), role: 'button', target: "_blank", class: 'btn btn-success btn-sm mb-2'

- if action.completed
  = render "symphony/batches/tasks/completed"
- else
  = link_to 'Start', data_entry_symphony_workflow_path(workflow_name: workflow.template.slug, workflow_id: workflow.id, workflow_action: action.id, enter_data_type: 'batch_enter_data'), role: 'button', class: 'btn btn-primary btn-sm mb-2'