- if action.completed?
  = render "symphony/batches/tasks/completed"
- else
  = link_to 'Start', data_entry_symphony_workflow_path(workflow_name: workflow.template.slug, workflow_id: workflow.id, workflow_action: action.id, enter_data_type: 'batch_enter_data'), role: 'button', class: "btn btn-success btn-sm mb-2 #{"disabled" if !action.task.check_previous.get_workflow_action(workflow.company, workflow.id).completed? or current_user.roles.exclude? action.task.role}"