= link_to "Send Email", send_email_to_xero_symphony_workflow_path, class: 'btn btn-primary btn-sm'
= render "symphony/batches/tasks/workflow_type_conditions", action: action, task: action.task, workflow: workflow
