- if action.completed
  = render "symphony/batches/tasks/completed"
- else
  = link_to 'Start', new_symphony_document_path(workflow: workflow.id, workflow_action: action.id, upload_type: 'batch_upload'), role: 'button', class: 'btn btn-success btn-sm mb-2'