= link_to 'Upload File', new_symphony_document_path(workflow: workflow.identifier), role: 'button', target: "_blank", class: 'btn btn-primary btn-sm'
= render "symphony/batches/tasks/workflow_type_conditions", action: action, task: action.task, workflow: workflow