/ = render "symphony/batches/tasks/workflow_type_conditions", action: action, task: action.task, workflow: workflow
/ br
/ = link_to "Take Photo", new_symphony_document_path(workflow: workflow.id, params: {camera: true}), role: 'button', class: 'btn btn-primary btn-sm mb-2'

- if action.completed
  = render "symphony/batches/tasks/completed"
- else
  = link_to 'Start', new_symphony_document_path(workflow: workflow.id, workflow_action: action.id, upload_type: 'batch_upload', params: {camera: true}), role: 'button', class: 'btn btn-primary btn-sm mb-2'