= render "symphony/batches/tasks/workflow_type_conditions", action: action, task: action.task, workflow: workflow
br
= link_to "Visit Link", action.task.link_url, target: :_blank, role: 'button', class: 'btn btn-warning btn-sm' if action.task.link_url.present?