.company-dropdown {
  height: 100% !important;
  width: 80% !important;
}

[data-toggle="collapse"] .fa:before {
  content: "\f106";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f107";
}
