- if @folder.name == "Resource Portal" or @folder.ancestors.include? Folder.find_by(name: "Resource Portal")
  = render "overture/startups/documents/resource_portal"
- else
  = render "overture/startups/documents/dataroom"
