p Hi #{@user.first_name},

p
  | The activation for #{@activation.client.name} on #{@activation.start_time.strftime("%F")} from #{@activation.start_time.strftime("%H:%M")} to #{@activation.end_time.strftime("%H:%M")} at #{@activation.location} has been cancelled