p Hi #{@informed_user.first_name},

p You have a completed workflow: #{@workflow.identifier}

p If you have any queries regarding the task, please contact the workflow creator: #{@workflow.user.first_name}.