.row
  .col.s12
    h5.center-align Thank you for your interest in Excide!
    p.center-align At the moment, we are not open to businesses yet but we will contact you to find out how we may assist you.