.col-sm-12
  = link_to 'New Activation', new_conductor_activation_path, class: 'btn btn-primary btn-block'
  = link_to 'Allocate Contractor', conductor_allocations_path, class: 'btn btn-primary btn-block'
  = link_to 'Contractor Availability', conductor_availabilities_path, class: 'btn btn-primary btn-block'