.label-motif-master_franchisee {
  background-color: #ddc4ff !important;
  font-weight: 700 !important;
}

.label-motif-area_franchisee {
  background-color: #abb1ff !important;
  font-weight: 700 !important;
}

.label-motif-unit_franchisee {
  background-color: #93e5f5 !important;
  font-weight: 700 !important;
}

.label-motif-roles {
  background-color: #F6D5FC !important;
  font-weight: 700 !important;
}
