.notif-header-count {
  position: absolute;
  bottom: 60%;
  left: 50%;
  padding: 0.3em 0.55em !important;
  font-size: 75% !important;
  color: #f3f6f9; // text

  background-color: #f64e60;
  border-radius: 50% !important;
  border: 1px solid #ebedf3;
}

.comment-user-icon {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comm-hub-user-icon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comment-font-size {
  font-size: 15px;
}

.tag-font-size {
  font-size: 12px;
}

#sticky-form {
  position: fixed;
  bottom: 0;
}

.chat {
  background: transparent;
  height: 60vh;
  border-radius: 10px;
  overflow-y: auto;
}

.chat-input {
  border: none !important;
}
// Chat input fields to type in messages
#chat-bottom-box {
  border: 1px solid #A4A5FF !important;
}
