.outlet-header-image {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  border-radius: 20px;
}

.outlet-header-preview {
  width: 10%;
  border-radius: 20px;
}
// Outlet preview in index and franchisee list page
.outlet-image {
  width: 80px;
  height: 80px;
  border-radius: 10px
}

.card-img-top {
  height: 12vw;
  object-fit: cover;
}
