// Strikethrough task instruction when checkbox is checked!
.task-instructions {
  text-decoration: line-through;
}

// Orange color bell notification
.orange-bell-notification {
  color: #ff9b21;
}

.action_checkbox:not([disabled]) {
  cursor:pointer;
}
