input.enlarged-checkbox{
  width: 15px;
  height: 15px;
  margin-top: 5%;
  margin-left: 45%;
}

.fixed-column{
  position: absolute;
  width: 100%;
  // margin-left: -5em;
}

.grid-bottom{
  border-bottom: 1px solid grey;
  padding: 10px;
}

.card.scrollbar > .card-body{
  overflow-x: auto;
}

.header-properties{
  color: #dd715e;
  text-align: center;
}

.table thead th {
  vertical-align: middle;
}

/* Loader */
.loader {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
}

.large-icon {
  font-size: 50px;
}

.gray-icon {
  color: gray;
}
