input.enlarged-checkbox{
  width: 15px;
  height: 15px;
  margin-top: 7px;
}

.fixed-column{
  position: absolute;
  width: 100%;
  // margin-left: -5em;
}

.grid-bottom{
  border-bottom: 2px solid grey;
  padding: 10px;
}

.card{
  overflow-x: auto;
}

.header-properties{
  color: #dd715e;
  text-align: center;
}

