td.line-item-field {
	padding: 0.5rem 0 0.3rem 0.5rem;
}

.image-document{
	width: 100%;
}

#subtotal{
	float: right;
}

.description {
	width: 40%;
}

.quantity, .price{
	width: 10%;
}

.account, .tax {
	width: 20%;
}
