td.task-fields{
  padding: 0.5rem !important;
}

.task-items-dropdown-width{
  width: 100%;
  min-width: 200px;
}

.task-type{
	width: 40% !important;
}

.instruction{
	width: 50% !important;
}

.position-width{
	width: 5% !important;
}

.collapse-arrow-width{
	width: 1% !important;
}