td.task-fields{
  padding: 0.5rem !important;
}

.task-items-dropdown-width{
  width: 100%;
  min-width: 200px;
}

.task-type{
  width: 25% !important;
}

.instruction{
  width: 32% !important;
}

.position-width{
  width: 7% !important;
}

.assigned-role{
  width: 25% !important;
}

.collapse-arrow-width{
  width: 1% !important;
}