/* line 5, ../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/bundler/gems/administrate-field-nested_has_many-0cc93f8bb374/app/assets/stylesheets/administrate-field-nested_has_many/base.scss */
.field-unit--nested-has-many .nested-fields {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

/* line 2, ../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/administrate-0.12.0/app/assets/stylesheets/administrate/library/_clearfix.scss */
.field-unit--nested-has-many .nested-fields::after {
  clear: both;
  content: "";
  display: block;
}

/* line 11, ../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/bundler/gems/administrate-field-nested_has_many-0cc93f8bb374/app/assets/stylesheets/administrate-field-nested_has_many/base.scss */
.field-unit--nested-has-many .remove_fields, .field-unit--nested-has-many .add_fields {
  float: right;
}
/*

 */

