.home-banner {
  background: linear-gradient(to right, white 0% 20%, #FFEAEC 90% 100%);
  background-attachment: fixed;
  height: 180px;
}

.franchisee-list-banner {
  background: linear-gradient(to right, white 0% 20%, #FCECD3 90% 100%);
  background-attachment: fixed;
  height: 180px;
}

.outlet-list-banner {
  background: linear-gradient(to right, white 0% 20%, #FDF8CE 90% 100%);
  background-attachment: fixed;
  height: 250px;
}

.onboarding-banner {
  background: linear-gradient(to right, white 0% 20%, #DBFFDF 90% 100%);
  background-attachment: fixed;
  height: 180px;
}

.site-audit-banner {
  background: linear-gradient(to right, white 0% 20%, #CBF5F0 90% 100%);
  background-attachment: fixed;
  height: 180px;
}

.royalty-banner {
  background: linear-gradient(to right, white 0% 20%, #C7F3FF 90% 100%);
  background-attachment: fixed;
  height: 180px;
}

.financial-performance-banner {
  background: linear-gradient(to right, white 0% 20%, #D8E3FF 90% 100%);
  background-attachment: fixed;
  height: 180px;
}

.comm-hub-banner {
  background: linear-gradient(to right, white 0% 20%, #F4E6FF 90% 100%);
  background-attachment: fixed;
  height: 180px;
}

.button-top-right{
  top: 20px;
  right: 30px;
  position: absolute;
}

.image-height {
  height: 250px !important;
}

.smaller-image-height {
  height: 180px !important;
}
