// Login page
h1.header-bold { 
	font-family: 'Futura';
	font-weight: bold;
	font-stretch: normal;
  font-style: normal;
	font-size: 30px;
	line-height: 21px;
	color: #17172e;
}

.text-nunito{
	font-family: 'NunitoSans';
	font-size: 8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
	color: white;
}
