// Login page
h1.header-bold-futura { 
  font-family: 'Futura';
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 30px;
  color: #17172e;
}

.text-nunito{
  font-family: 'NunitoSans';
  font-size: 8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: white;
}
// Header
.change-company-dropdown{
  width: 300px;
  font-family: 'NunitoSans';
  font-size: 15px !important;
  border-radius: 4px;
  border: solid 0.5px grey;
}

// Footer
.nunito-footer{
  font-family: 'NunitoSans';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: black;
}

// Sidebar
#sidebar{
  background-color: white;
}

.logo-size{
  width: 70%;
}

// User icon on navbar
.user-icon{
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nunito-sidebar{
  font-family: 'NunitoSans';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: black;
}

// Image size
.img-icon-size{
  width: 10%;
  height: 10%;
}
