/ = render "symphony/workflows/tasks/show_information", action: action, task: task

/ tr
/   td.p-0.border-top-0 colspan="6"
/     div id="task_#{task.id}" class="#{task == @workflow.current_task or @workflow.template.unordered? ? 'collapse show' : 'collapse'}"
/       .m-3
/         h6 Actions:
/         .btn-toolbar role="toolbar"
/           .btn-group.mr-2 role="group" aria-label="Task actions"
/             - if @workflow.invoice.blank?
/               = link_to "Create Invoice Payable", new_symphony_invoice_path(workflow_id: @workflow.id, invoice_type: 'payable', workflow_action_id: action.id), role: 'button', class: 'btn btn-success btn-sm'
/             - else
/               = link_to "Create Invoice Payable", '#', role: 'button', class: 'btn btn-success btn-sm disabled'
/           .btn-group.mr-2 role="group" aria-label="Reminder actions"
/             / the below condition checks whether user is admin. If template is ordered, it will check whether the task is the current task and if unordered, it will check whether the workflowaction is uncompleted.
/             - if (@user.has_role? :admin, @company) && (task == @workflow.current_task || (@workflow.template.unordered? && !action.completed))
/               = link_to "Send Reminder", reminder_task_symphony_workflow_path(task_id: task.id, action_id: action.id), method: :post, remote: true , class: 'btn btn-warning btn-sm mr-2'
/             - if action.reminders.any?(&:next_reminder) && task.set_reminder?
/               = link_to "Stop Reminder", stop_reminder_symphony_workflow_path(action.workflow.template.slug, action.workflow.id, task.id), method: :post, remote: true, class: 'btn btn-danger btn-sm'
/         br
/         = render "symphony/workflows/tasks/remarks", action: action
/         br
/         = task.display_image
.btn.btn-outline-secondary.btn-sm style=(action.completed? ? "pointer-events: none" : "")
  i.material-icons-outlined class=(action.completed? ? "text-muted" : "text-primary") receipt
  = link_to "Create Invoice Payable", new_symphony_invoice_path(workflow_id: workflow.id, invoice_type: 'payable', workflow_action_id: action.id, workflow_name: template.slug), role: 'button', class: (action.completed? ? "text-muted" : "text-primary")