- if action.task.document_template.present? and action.task.document_template.file.attached?
  .btn.btn-outline-secondary.btn-sm
    = link_to "Download File", rails_blob_path(action.task.document_template.file, disposition: "attachment"), role: 'button', class: 'text-primary'
