.btn.btn-outline-secondary.btn-sm style=(action.completed? ? "pointer-events: none" : "")
  = link_to "Enter Data", data_entry_symphony_workflow_path(workflow_id: workflow.id, workflow_name: template.slug), role: 'button', class: (action.completed? ? "text-muted" : "text-primary")