.btn.btn-outline-secondary.btn-sm style=(action.completed? ? "pointer-events: none" : "")
  = link_to "Take Photo", new_symphony_document_path(workflow: workflow.id, params: {camera: true}), role: 'button', class: (action.completed? ? "text-muted" : "text-primary")