.btn.btn-outline-secondary.btn-sm style=(action.completed? ? "pointer-events: none" : "")
  i.material-icons-outlined class=(action.completed? ? "text-muted" : "text-primary") link
  = link_to "Visit Link", action.task.link_url, target: :_blank, role: 'button', style: (action.completed? ? "pointer-events: none" : ""), class: (action.completed? ? "text-muted" : "text-primary") if action.task.link_url.present?