#hero:before, #tailored:before, #on-demand:before, #seamless:before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  z-index: -1;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#hero:before {
  background-image: image-url("hero-image.jpg");
}

#tailored:before {
  background-image: image-url("tailored-solutions.jpg");
}

#on-demand:before {
  background-image: image-url("talent-on-demand.jpg");
}

#seamless:before {
  background-image: image-url("engage-seamlessly.jpg");
}

#hero, #tailored, #on-demand, #seamless {
  color: #ffffff;
  margin-top: -20px;

  h1, h2, h3, p {
    text-shadow: 0px 1px 5px #333333;
  }
}

#hero-content {

  /* label color */
  .input-field label {
   color: #f9f9f9;
   font-size: 20px;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
   color: #ffffff;
   font-size: inherit;
  }
  /* label underline color */
  .input-field input[type=text] {
   border-bottom: 1px solid #f9f9f9;
   box-shadow: none;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
   border-bottom: 1px solid #ffffff;
   box-shadow: 0 1px 0 0 #ffffff;
  }
  /* valid color */
  .input-field input[type=text].valid {
   border-bottom: 1px solid #ffffff;
   box-shadow: 0 1px 0 0 #ffffff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
   border-bottom: 1px solid #ffffff;
   box-shadow: 0 1px 0 0 #ffffff;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
   color: #ffffff;
  }

  .hero-button {
    width: 100%;
    margin-top: 8px;
  }
}

#services {
  .card-title {
    font-size: 20px;
  }
}

.landing-page {
  p {
    font-size: 20px;
  }

  .card p {
    font-size: 14px;
  }
}