#hero {
  background-image: image-url("hero-image.jpg");
}

#services {
  background-image: image-url("tailored-solutions.jpg");
}

#contactus {
  background-image: image-url("lets-work-together.jpg");
}

#hero, #services, #contactus {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -20px;

  h1, h2, h3, p, a, i {
    text-shadow: 0px 1px 5px #333333;
    color: #ffffff;
  }
}

.grey-overlay {
  background-color: rgba(0, 0, 0, 0.25);
}

#hero {
  .grey-overlay {
    padding: 0 20px 30px 20px;
  }
}

#services {
  .grey-overlay {
    padding: 0 20px 0 20px;
  }
}

#contactus {
  .grey-overlay {
    padding: 0 20px 30px 20px;
  }
}

#hero-content {

  /* label color */
  .input-field label {
    color: #f9f9f9;
    font-size: 20px;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #ffffff;
    font-size: inherit;
  }
  /* label underline color */
  .input-field input[type=text] {
    border-bottom: 1px solid #f9f9f9;
    box-shadow: none;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #ffffff;
  }

  .hero-button {
    width: 100%;
    margin-top: 8px;
  }
}

#services {
  .card-title {
    font-size: 20px;
  }
}

#contactus {
  /* input text and label color */
  input, .input-field label, textarea {
    color: #fff;
  }
  /* label focus color */
  .input-field input[type]:focus + label {
    color: #fff;
  }
  /* label underline color */
  .input-field input[type], textarea {
    border-bottom: 1px solid #fff;
    box-shadow: none;
  }
  /* label underline focus color */
  .input-field input[type]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }
  /* valid color */
  .input-field input[type].valid {
    border-bottom: 1px solid #43a047;
    box-shadow: 0 1px 0 0 #43a047;
  }
  /* invalid color */
  .input-field input[type].invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #fff;
  }
}

.landing-page {
  #hero p {
    font-size: 20px;
  }

  .card p {
    font-size: 14px;
  }
}

.promo i {
  margin: 40px 0;
  font-size: 7rem;
  display: block;
  text-shadow: 0px 1px 5px #333333;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #hero, #tailored, #on-demand, #seamless {
    padding: 0;

    .container {
      width: 100%;
      height: 100%;
    }

    .section {
      padding: 0;
    }

    .grey-overlay {
      height: 100%;
    }
  }

  #tailored, #on-demand, #seamless {
    .row {
      height: 100%;
    }
  }

  #on-demand {
    background-position: left;
  }
}