// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.linkedin-login {
  background: image-url("linkedin-buttons.png") center 0/215px 123px no-repeat;
  display: block;
  width: 215px;
  height: 40px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  margin: 40px auto;
  transition: all 0s ease;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
}

.linkedin-login:hover {
  background-position: center -41px;
}

.linkedin-login:active {
  background-position: center -82px;
}