<p>Hi <%= @user.first_name %>,</p>

<p>You have been added to the Excide Symphony Platform! Before you get started, please activate your account by clicking on the link below:</p>

<p><%= link_to 'Activate my account', confirmation_url(@resource, confirmation_token: @token) %></p>
