= favicon_pack_tag 'media/src/images/favicon/ada-apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180' 
= favicon_pack_tag 'media/src/images/favicon/ada-favicon-32x32.png', rel: 'icon', type: "image/png" 
= favicon_pack_tag 'media/src/images/favicon/ada-favicon-16x16.png', rel: 'icon', type: "image/png" 
= favicon_pack_tag 'media/src/images/favicon/ada-favicon.svg', rel: 'mask-icon', color: '#5bbad5' 
= favicon_pack_tag 'media/src/images/favicon/ada-favicon.ico', rel: 'shortcut icon' 
