nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-white.w-75.mx-lg-auto.mx-3
  a.navbar-brand href="#"
    = image_pack_tag 'media/src/images/motif/ADA-logo.png', size: '75x50', alt: "paloe-header-logo", class: 'img-fluid float-right'