nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-white.w-100.mx-lg-5.mx-3
  a.navbar-brand href="/welcome"
    = image_pack_tag 'media/src/images/motif/ada-name-logo-side.png', size: '150x150', alt: "paloe-header-logo", class: 'img-fluid float-right'