doctype html
html lang="en"
  head
    base href="../../"
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
    meta name="turbolinks-cache-control" content="no-cache"
    link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Asap+Condensed:500" rel="stylesheet"

    script async=true src="https://www.googletagmanager.com/gtag/js?id=UA-93342323-1"
    javascript:
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-93342323-1');

      document.addEventListener('turbolinks:load', event => {
        if (typeof gtag === 'function') {
          gtag('config', 'UA-93342323-1', {
            'page_location': event.data.url
          });
        }
      });

    script src="https://js.stripe.com/v3/"
    = render 'application/favicon'
    = display_meta_tags site: "Virtual CFO | Excide"
    = stylesheet_pack_tag 'metronic', media: "all", 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application-dashboard', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = tag :meta, name: "mixpanel-token", content: ENV['MIXPANEL_TOKEN']
    // For uppy use with active storage
    = tag :meta, name: "direct-upload-url", content: rails_direct_uploads_path
  /! end::Head
  /! begin::Body

  body.kt-page-content-white.kt-quick-panel--right.kt-demo-panel--right.kt-offcanvas-panel--right.kt-header--fixed.kt-header-mobile--fixed.kt-subheader--enabled.kt-subheader--transparent.kt-page--loading
    /! begin:: Page
    /! begin:: Header Mobile
    = render 'layouts/header_mobile' unless (current_user.nil? || current_page?(additional_information_path))
    /! end:: Header Mobile
    .kt-grid.kt-grid--hor.kt-grid--root
      .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--ver.kt-page
        #kt_wrapper.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor.kt-wrapper
          /! begin:: Header
          - if (controller.class.parents.include?(Conductor) || controller_name == ('clients' || 'dashboards' || 'surveys'))
            = render 'layouts/conductor_header'
          - else
            = render 'layouts/header' unless (current_user.nil? || current_page?(additional_information_path))
          /! end:: Header
          .kt-container.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor.kt-grid--stretch
            #kt_body.kt-body.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor.kt-grid--stretch
              #kt_content.kt-content.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor
                #kt_subheader.kt-subheader.kt-grid__item
                  .kt-container
                /! begin:: Content
                .kt-container.kt-grid__item.kt-grid__item--fluid
                  = render 'layouts/messages'
                  = yield
                /! end:: Content
          /! begin:: Footer
          = render 'layouts/footer'
          /! end:: Footer
    /! end:: Page
    /! begin::Scrolltop
    #kt_scrolltop.kt-scrolltop
      i.fa.fa-arrow-up
    /! end::Scrolltop

    <!-- Start of excide Zendesk Widget script -->
    script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=d91fc85f-b1cf-4d65-b9f8-0c90f5132187"
    <!-- End of excide Zendesk Widget script -->

    /! begin::Global Config(global config for global JS sciprts)
    javascript:
      var KTAppOptions = {
      	"colors": {
          "state": {
            "brand": "#5f6caf",
            "light": "#ffffff",
            "dark": "#282a3c",
            "primary": "#5867dd",
            "success": "#34bfa3",
            "info": "#36a3f7",
            "warning": "#ffb822",
            "danger": "#fd3995"
          },
          "base": {
            "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
            "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
          }
        };
